@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* font-family: 'Inter', sans-serif; */


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

:root{
    --SoftOrange: hsl(35, 77%, 62%);
    --SoftRed: hsl(5, 85%, 63%);

    --OffWhite: hsl(36, 100%, 99%);
    --GrayishBlue: hsl(233, 8%, 79%);
    --DarkGrayishBlue: hsl(236, 13%, 42%);
    --VeryDarkBlue: hsl(240, 100%, 5%);
}


p{
    font-size: 15px;
    color: var(--DarkGrayishBlue);
    font-weight: lighter;
    line-height: 25px;
}


body{
}






.overflow{
    overflow-y:hidden;
}



header{
    margin: auto;
    max-width: 1300px;
}




header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.close-menu-mobile{
    display: none;
    z-index: 4;
    cursor: pointer;
}

.open-menu-mobile{
    width: 40px;
    height: 20px;
    cursor: pointer;
}

nav .list-nav-desktop{
    display: none;
    
}

nav ul a li{
    color:black;
}



.container-menu-mobile{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.272);
}

.menu-mobile{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55vw;
    background-color: var(--OffWhite);
    padding: 20px;
}

.list-menu-mobile{
    color: black;
    position: absolute;
    top: 20%;
    line-height: 40px;
    font-weight: bold;
}














main{
    padding: 20px;
    max-width: 1300px;
    margin: auto;

}






.main-section .img-mobile{
    width: 100%;
    margin-bottom: 20px;
}

h1{
    color: var(--VeryDarkBlue);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

button{
    background-color: var(--SoftRed);
    border: none;
    color: var(--OffWhite);
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

button:hover{
    background-color: var(--VeryDarkBlue);
}



.main-section{
    margin-bottom: 50px;
}


.main-section .img-desktop{
    display: none;
}















.new-section{
    background-color: var(--VeryDarkBlue);
    padding: 20px;
}

h2{
    color: var(--SoftOrange);
    font-size: 35px;
    margin-bottom: 30px;
}


.new-subject{
    
}


hr{
    margin: 15px auto;
    
}

.new-section a{
    color: var(--OffWhite);
    font-weight: bold;
    font-size: 23px;
}

.new-section a:hover{
    color: var(--SoftOrange);
}

.new-section p {
    margin-top: 10px;
    color: var(--GrayishBlue);
}














.section-other-subjects{
    margin: 60px auto;
}

.other-subject{
    display: flex;
    margin-bottom: 30px;
}

.other-subject img{
    width: 120px;
    height: 100%;
}

.short-description-subject{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-other-subjects .number{
    color: var(--GrayishBlue);
    font-size: 35px;
    font-weight: bolder;
}

.section-other-subjects a{
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: bolder;
}

.section-other-subjects a:hover{
    color: var(--SoftRed);
}





















@media (min-width:900px) {
    body{
        overflow-y: visible !important;
    }
    .main-section .img-desktop{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        height: 350px;

    }
    
    .main-section .img-mobile{
        display: none;
    }


}





@media (min-width:800px) {
    main{
        padding: auto 506px;
    }
    .main-section .description{
        display: flex;
    }

    .main-section-new-section{
        display: flex;
        width: 100%;
    }


    .container-menu-mobile{
        display: none;
    }


    

    .main-section{
        margin-right: 20px;
    }

    .new-section{
        padding-bottom: 10px;
    }

    h1{
        margin-bottom: 0;
    }

    .main-section{
        margin-bottom: 0;
    }

    .section-other-subjects{
        display: flex;

    }

    .main-section .paragraph-btn{
        margin-left: 50px;
    }

    nav .list-nav-desktop{
        display: flex;
        
    }

    .open-menu-mobile{
        display:  none !important;
    }

    nav ul li{
        margin: 0 7px;

    }

    .container-menu-mobile{
        display: none !important;
    }

    .close-menu-mobile{
        display: none !important;
    }
    

}
